{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block header %}
    About
{% endblock %}

{% block main %}
    <div class="container text-center">
        <p>
            <h3>This is Class List!</h3>
        </p>
        <p>
            <h4>So what is Class List?</h4>
        </p>
        <p>
            Class List is a simple web application created to make making lists easy.
            <br>
            <br>
            The goal is that by making it easy to make lists you will be able to better organize your tasks and get more done.
        </p>
    </div>
{% endblock %}
