{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block header %}
    Change Password
{% endblock %}

{% block main %}
    <div class="container text-center">
        <form action="/change_password" method="post">
            <div class="container mb-3 input-mw-300">
                <input name="current_password" class="form-control" type="password" autocomplete="off" autofocus placeholder="Current Password">
            </div>
            <div class="container mb-3 input-mw-300">
                <input name="new_password" class="form-control" type="password" autocomplete="off" placeholder="New Password">
            </div>
            <div class="container mb-3 input-mw-300">
                <input name="new_password_confirmation" class="form-control" type="password" autocomplete="off" placeholder="Re-enter New Password">
            </div>
            <div class="container mb-3">
                <button type="submit" class="btn btn-primary">Apply Change</button>
            </div>
        </form>
    </div>
{% endblock %}
