{% extends "layout.html" %}

{% block title %}
    Current Lists
{% endblock %}

{% block header %}
    Current Lists
{% endblock %}

{% block main %}
<div class="container text-center mt-4">
    {% for i in range(listInfo | length) %}
    <form action="/list_selector" method="get">
        <input name="listname" type="hidden" value="{{ listInfo[i].get('list_table_name') }}">
        <button type="submit" class="btn btn-primary mb-2 text-wrap width-200">{{ listInfo[i].get("list_title") }}</button>
    </form>
    {% endfor %}
</div>
{% endblock %}
